body {
   font-family: 'Montserrat', sans-serif;
}

h4 {
   font-size: 18px;
}

h5 {
   font-size: 14px;
}

table.dataTable thead .sorting {
   height: 270px;
}

table.dataTable tbody th,
table.dataTable tbody td {
   padding: 10px;
}

table.dataTable tbody tr {
	background-color: #fff;
	background-clip: border-box;
	/* border: 1px solid rgba(0,0,0,.125); */
	border: 1px solid #fff;
	border-radius: .25rem;
	padding: 1.25rem;
}

.content-wrapper {
   display: flex;
   flex-direction: column;
   flex: 1;
   overflow: auto;
}

table.dataTable .header-purple {
   color:#7539AD;
   font-weight: bold;
}

table.dataTable .header-grey,
table.dataTable .grey {
   color: #A6A6A6;
}

table.dataTable .btn-delete {
   padding: 2px 10px;
}

table.dataTable .dropdown-item {
   padding: 5px 15px;
   color: #212529;
}

table.dataTable .dropdown-item img {
   padding-right: 5px;
}